<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mvc.dao.mapper.AccountMapper">
<!--    List<Account> ACCOUNT_LIST();-->
    <select id="ACCOUNT_LIST" resultType="com.atguigu.mvc.dao.GoodsDao">

    </select>
</mapper>
