<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mvc.dao.mapper.CustomerMapper">
<!--    List<Customer> get_customer_list();-->
    <select id="get_customer_list" resultType="com.atguigu.mvc.dao.pojo.Customer">
        select * from customers
    </select>
<!--    Customer Insert_Customers(Customer customer);-->
    <select id="Insert_Customers" resultType="com.atguigu.mvc.dao.pojo.Customer">
        insert into customers (customerid, customername, telephone, starttime, endtime) values (null, #{customername}, #{telephone}, #{starttime}, #{endtime})
    </select>
<!--    void Update_Customer(Customer customer);-->
    <update id="Update_Customer">
        update customers set customername = #{customername} where customerid = #{customerid} and LENGTH(trim(#{customername})) > 0;
        update customers set telephone = #{telephone} where customerid = #{customerid} and LENGTH(trim(#{telphone})) > 0;
        update customers set starttime = #{starttime} where customerid = #{customerid} and LENGTH(trim(#{starttime})) > 0;
        update customers set endtime = #{endttime} where customerid = #{customerid} and LENGTH(trim(#{endtime})) > 0;
    </update>
<!--    void Delete_Customers(@Param("id") Integer id);-->
    <delete id="Delete_Customers">
        delete from customers where customerid = #{id};
        alter table customers auto_increment 1;
    </delete>

<!--    List<Customer> getCustomersByName(@Param("customername") String customername);-->
    <select id="getCustomersByName" resultType="com.atguigu.mvc.dao.pojo.Customer">
        select * from customers where customername LIKE CONCAT('%', #{customername, jdbcType=VARCHAR}, '%')
    </select>

</mapper>