<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Choose List</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
	<!--web-fonts-->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>


	<!--//web-fonts-->
	<!--//fonts-->
</head>
<body>
<div class="banner-w3layouts" id="home">
	<!--Top-Bar-->
	<div class="header">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a th:href="homepage">DHU</a></h1>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="hvr-underline-from-center active scroll" th:href="homepage">主页</a></li>
					<li><a th:href="Purchase" class="hvr-underline-from-center scroll">资料管理</a></li>
					<li><a th:href="Purchase" class="hvr-underline-from-center scroll">采购管理</a></li>
					<li><a th:href="Sales" class="hvr-underline-from-center scroll scroll">销售管理</a></li>
					<li><a th:href="stock" class="hvr-underline-from-center scroll scroll">库存管理</a></li>
					<li><a th:href="accounting_management" class="hvr-underline-from-center scroll scroll">账务管理</a></li>
					<li><a th:href="system_management" class="hvr-underline-from-center scroll scroll">系统管理</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</nav>

	</div>
	<!--//Top-Bar-->
	<!-- modal -->
	<div class="modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

			</div>
		</div>
		<!-- //modal -->

		<!-- //modal -->
		<!--banner-->
		<!--Slider-->
		<!--//Slider-->
		<div class="clearfix"></div>
	</div>
	<!--<div><br><br><br><br><br></div>-->
	<div class="team" id="team">
		<div class="col-lg-3 agile-team-grids"></div>
		<div class="col-lg-2 team-grid">
			<div class="team-img">
				<img src="images/t1.jpg" class="img-circle" alt=" " />
				<figcaption class="overlay">
					<h4>資料管理</h4>
					<div class="w3l-social">
						<ul>
							<li><a th:href="Purchase"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</figcaption>
			</div>
			<br>
		</div>
		<div class="col-lg-2 team-grid">
			<div class="team-img">
				<img src="images/t2.jpg" class="img-circle" alt=" " />
				<figcaption class="overlay">
					<h4>采购管理</h4>
					<div class="w3l-social">
						<ul>
							<li><a th:href="Purchase"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</figcaption>
			</div>
			<br>
		</div>
		<div class="col-lg-2 team-grid">
			<div class="team-img">
				<img src="images/t3.jpg" class="img-circle" alt=" " />
				<figcaption class="overlay">
					<h4>销售管理</h4>
					<div class="w3l-social">
						<ul>
							<li><a th:href="Sales"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</figcaption>
			</div>
		</div>

		<div class="clearfix"> </div>
	</div>

	<div class="team" id="team2">
		<div class="col-lg-3"></div>
		<div class="col-lg-2 team-grid">
			<div class="team-img">
				<img src="images/t4.jpg" class="img-circle" alt=" " />
				<figcaption class="overlay">
					<h4>库存管理</h4>
					<div class="w3l-social">
						<ul>
							<li><a th:href="stock"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</figcaption>
			</div>

		</div>
		<div class="col-lg-2 team-grid">
			<div class="team-img">
				<img src="images/t5.jpg" class="img-circle" alt=" " />
				<figcaption class="overlay">
					<h4>财务管理</h4>
					<div class="w3l-social">
						<ul>
							<li><a th:href="accounting_management"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</figcaption>
			</div>
		</div>

		<div class="col-lg-2 team-grid">
			<div class="team-img">
				<img src="images/t6.jpg" class="img-circle" alt=" " />
				<figcaption class="overlay">
					<h4>系统管理</h4>
					<div class="w3l-social">
						<ul>
							<li><a th:href="system_management"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</figcaption>
			</div>
		</div>

		<div class="clearfix"> </div>
		<div class="col-jg-1 agile-team-grids"></div>

	</div>




	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>