<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
</head>
<body>
<form th:action="@{/Goods_save}" method="post">
    <table border="1">
        <caption>添加商品</caption>
        <tr>
            <td>商品编号</td>
            <td><input type="text" name="id"></td></tr>
        <tr>
            <td>商品名</td>
<!--            对长度加以限制, 最多20-->
            <td><input type="text" name="goodname"></td></tr>
        <tr>
            <td>商品数量</td>
<!--            这里只能输入整数, 需要在前端对用户输入加以控制-->
            <td><input type="text" name="amount"></td></tr>
    </table>
    <input type="submit" value="提交">
    <input type="reset" value="重置">
</form>
</body>
</html>