<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资料管理</title>
</head>
<body>
商品名：
<input type="text" name ="goods_name" value="請在這裏輸入商品名"/>
数量：
<input type="text" name ="goods_amount" value="請在這裏輸入商品數量"/>
<button onclick="window.location.href = 'https://www.baidu.com/'">查詢</button>
<button onclick="window.location.href = 'https://www.baidu.com/'">增加</button>
<button onclick="window.location.href = 'https://www.baidu.com/'">刪除</button>
<button onclick="window.location.href = 'https://www.baidu.com/'">修改</button>

<form th:action="@{/goods_add}" method="post">
    <table border="1">
        <caption>商品管理</caption>
        <tr><th>商品编号</th><th>商品名</th><th>库存数量</th></tr>
        <tr th:each="goods : ${goodsList}">
            <td th:text="${goods.goodid}"></td>
            <td th:text="${goods.goodname}"></td>
            <td th:text="${goods.amount}"></td>
        </tr>
    </table>
</form>
</body>
</html>