<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>采购管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <!--web-fonts-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <style>
        /* 容器 <div> - 需要定位下拉内容 */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* 下拉内容 (默认隐藏) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* 下拉菜单的链接 */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* 鼠标移上去后修改下拉菜单链接颜色 */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* 在鼠标移上去后显示下拉菜单 */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* 当下拉内容显示后修改下拉按钮的背景颜色 */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <style>
        /* 容器 <div> - 需要定位下拉内容 */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* 下拉内容 (默认隐藏) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* 下拉菜单的链接 */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* 鼠标移上去后修改下拉菜单链接颜色 */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* 在鼠标移上去后显示下拉菜单 */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* 当下拉内容显示后修改下拉按钮的背景颜色 */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <script>
        //查询进货
        window.search_Purchase= function() {
            var search_id = document.getElementById("search_Goods_id").value;
            $.ajax({
                url: "Purchase_search",//常乐来写
                type: 'POST',
                data:{"goodid":search_id},
                success: function (data) {
                    $("body").html(data);
                }
            });
        }
        //删除进货(已实现)
        window.delete_Purchase= function() {
            var delete_id = document.getElementById("delete_id").value;
            if (delete_id<=0) {
                alert("订单号必须是正数哦");
            } else {
                $(".delSure").click(function () {
                    $.ajax({
                        url: "Purchase_delete?purchaseid="+delete_id,
                        type: 'POST',
                        success: function (data) {
                            $("body").html(data);
                        }
                    });
                });
            }
        }
        //增加进货(已实现)
        window.add_Purchase= function() {
            //#{supplierid}, #{goodid}, #{purchaseprice},
            //#{purchasetime}, #{amount}, #{isreturn}
            var add_supplierid = document.getElementById("add_Supplier_id").value;
            var add_goodid= document.getElementById("add_Good_id").value;
            var add_price = document.getElementById("add_Purchase_price").value;
            var add_time= document.getElementById("add_Purchase_time").value;
            var add_amount = document.getElementById("add_Purchase_amount").value;
            var add_isreturn= document.getElementById("add_Purchase_isreturn").value;
            $.ajax({
                url: "Purchase_save",
                type: 'POST',
                data:{"supplierid":add_supplierid,"goodid":add_goodid,"purchaseprice":add_price,"purchasetime":add_time,"amount":add_amount,"isreturn":add_isreturn},
                success: function (data) {
                    $("body").html(data);
                }
            });
        }
        //修改进货(已实现)
        window.modify_Purchase= function() {
            //#{id},#{supplierid}, #{goodid}, #{purchaseprice},
            //#{purchasetime}, #{amount}, #{isreturn}
            var modify_id = document.getElementById("modify_id").value;
            var modify_supplierid = document.getElementById("modify_Supplier_id").value;
            var modify_goodid= document.getElementById("modify_Good_id").value;
            var modify_price = document.getElementById("modify_Purchase_price").value;
            var modify_time= document.getElementById("modify_Purchase_time").value;
            var modify_amount = document.getElementById("modify_Purchase_amount").value;
            var modify_isreturn= document.getElementById("modify_Purchase_isreturn").value;
            $.ajax({
                url: "Purchase_modify",//向Controller中的@RequestMapping(value = "/goods_add")对应的方法传参数
                type: 'POST',
                data:{"supplierid":modify_supplierid,"goodid":modify_goodid,"purchaseprice":modify_price,"purchasetime":modify_time,
                      "amount":modify_amount,"isreturn":modify_isreturn,"purchaseid":modify_id},//参数的名字叫id和goodname对应于GoodsMapper.xml中的参数名
                success: function (data) {
                    $("body").html(data);
                }
            });
        }
    </script>
    <script th:inline="javascript">
        function power()
        {
            var power = [[${session.User.userpower}]];
            if(power>1) {
                document.getElementById("system").style.display = "none";
                document.getElementById("current_user").style.color = "#01fc72";
            }
            else{
                document.getElementById("current_user").style.color = "#8502fa";
            }
        }
    </script>
</head>

<body bgcolor="black" onload="power()">
<div class="banner-w2layouts" style="width:100%; height:105px;" id="home">
    <!--Top-Bar-->
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a  th:href="index">DHU</a></h1>
            </div>

            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="current_user" class="hvr-underline-from-center active scroll" href="#">当前用户: <span th:text="${session.User.username}"></span></a></li>
                    <li><a class="hvr-underline-from-center scroll scroll" th:href="logout"> 退出登录</a></li>
                    <li><a class="hvr-underline-from-center active scroll" th:href="homepage">主页</a></li>
                    <li><a th:href="Goods" class="hvr-underline-from-center scroll">资料管理</a></li>
                    <li><a th:href="Purchase" class="hvr-underline-from-center scroll">采购管理</a></li>
                    <li><a th:href="Sales" class="hvr-underline-from-center scroll scroll">销售管理</a></li>
                    <li><a th:href="stock" class="hvr-underline-from-center scroll scroll">库存管理</a></li>
                    <li><a th:href="accounting_management" class="hvr-underline-from-center scroll scroll">账务管理</a></li>
                    <li><a id="system" th:href="system_management" class="hvr-underline-from-center scroll scroll">系统管理</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </nav>
    </div>
</div>
<form class="form-inline" >
    <div style="display:inline">
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#search_purchase"><span class="glyphicon glyphicon-search"></span> 查询</a>
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#add_purchase"><span class="glyphicon glyphicon-plus"></span> 增加</a>
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#delete_purchase"><span class="glyphicon glyphicon-remove"></span> 删除</a>
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#modify_purchase"><span class="glyphicon glyphicon-pencil"></span> 修改</a>
    </div>
    <br>
</form>
<br><br>
<form>
    <div class="table-responsive">
        <table border="1" class="table table-hover">
            <caption style="text-align: center">采购订单</caption>
            <tr><th>订单号</th><th>供应商编号</th><th>商品编号</th><th>商品价格</th><th>购买时间</th><th>费用</th><th>是否退货</th></th></tr>
            <tr th:each="purchase : ${purchaseList}">
                <td th:text="${purchase.purchaseid}"></td>
                <td th:text="${purchase.supplierid}"></td>
                <td th:text="${purchase.goodid}"></td>
                <td th:text="${purchase.purchaseprice}"></td>
                <td th:text="${purchase.purchasetime}"></td>
                <td th:text="${purchase.amount}"></td>
                <!--            这个地方如果isreturn值为2, 那么这个值应该是否, 否则应该是 是-->
                <td th:text="${purchase.isreturn}"></td>
            </tr>
        </table>
    </div>
</form>
<!-- 删除进货模态框 -->
<div class="modal" id="delete_purchase" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">删除</h4>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="delete_id">订单号：</label>
                <input type="text" style="float: left; color: #000000" class="form-control" id="delete_id" placeholder="请在这里输入订单号">
                <br>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <strong>你确定要删除吗？</strong>
            </div>

            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onClick="return delete_Purchase()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 增加商品模态框 -->
<div class="modal" id="add_purchase" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">增加</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Supplier_id">供货商编号:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="add_Supplier_id" placeholder="请在这里输入供货商编号">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Good_id">商品编号:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="add_Good_id" placeholder="请在这里输入商品编号">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Purchase_price">进货价格:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="add_Purchase_price" placeholder="请在这里输入进货价格">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Purchase_time">购买时间:</label>
                <input type="date" style="float:left; color: #000000" class="form-control" id="add_Purchase_time" placeholder="请在这里输入购买时间">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Purchase_amount">进货数量:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="add_Purchase_amount" placeholder="请在这里输入进货数量">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Purchase_isreturn">是否退货:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="add_Purchase_isreturn" placeholder="请在这里输入是否退货">
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onClick="return add_Purchase()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 查询商品模态框 -->
<div class="modal" id="search_purchase" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">增加</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="search_Goods_id">商品编号:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="search_Goods_id" placeholder="请在这里输入商品编号">
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onClick="return search_Purchase()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改商品模态框 -->
<div class="modal" id="modify_purchase" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">修改</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_id">订单编号:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="modify_id" placeholder="请在这里输入订单编号">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Supplier_id">供货商编号:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="modify_Supplier_id" placeholder="请在这里输入供货商编号">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Good_id">商品编号:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="modify_Good_id" placeholder="请在这里输入商品编号">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Purchase_price">进货价格:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="modify_Purchase_price" placeholder="请在这里输入进货价格">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Purchase_time">购买时间:</label>
                <input type="date" style="float:left; color: #000000" class="form-control" id="modify_Purchase_time" placeholder="请在这里输入购买时间">
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Purchase_amount">进货数量:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="modify_Purchase_amount" placeholder="请在这里输入进货数量">
                <br>
                <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Purchase_isreturn">是否退货:</label>
                <input type="text" style="float:left; color: #000000" class="form-control" id="modify_Purchase_isreturn" placeholder="请在这里输入是否退货">
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onClick="return modify_Purchase()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>