<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>供货商资料</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <!--web-fonts-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <style>
        /* 容器 <div> - 需要定位下拉内容 */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* 下拉内容 (默认隐藏) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* 下拉菜单的链接 */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* 鼠标移上去后修改下拉菜单链接颜色 */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* 在鼠标移上去后显示下拉菜单 */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* 当下拉内容显示后修改下拉按钮的背景颜色 */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <script>
        //删除供应商(已实现)
        window.delete_Supplier= function() {
            var delete_id = document.getElementById("delete_Supplier_id").value;
            if (delete_id<=0) {
                alert("供应商编号必须是正数哦");
            } else {
                $(".delSure").click(function () {
                    $.ajax({
                        url: "supplier_del?id="+delete_id,
                        type: 'POST',
                        success: function (data) {
                            $("body").html(data);
                        }
                    });
                });
            }
        }
        //增加供应商(已实现)
        window.add_Supplier= function() {
            //#{supplierid}, #{suppliername}, #{telephone}, #{starttime}, #{endtime}
            var add_suppliername= document.getElementById("add_Supplier_name").value;
            var add_suppliertel = document.getElementById("add_Supplier_telephone").value;
            var add_starttime= document.getElementById("add_Supplier_starttime").value;
            var add_endtime = document.getElementById("add_Supplier_endtime").value;

            $.ajax({
                url: "supplier_save",
                type: 'POST',
                data:{
                    "suppliername":add_suppliername,
                    "telephone":add_suppliertel,
                    "starttime":add_starttime,
                    "endtime":add_endtime},
                success: function (data) {
                    $("body").html(data);
                }
            });
        }
        //修改供应商(已实现)
        window.modify_Supplier= function() {
            //#{customerid}, #{customername}, #{telephone}, #{starttime}, #{endtime}
            var modify_id = document.getElementById("modify_Supplier_id").value;
            var modify_name = document.getElementById("modify_Supplier_name").value;
            var modify_telephone= document.getElementById("modify_Supplier_telephone").value;
            var modify_starttime = document.getElementById("modify_Supplier_starttime").value;
            var modify_endtime= document.getElementById("modify_Supplier_endtime").value;
            $.ajax({
                url: "supplier_change",
                type: 'POST',
                data:{"supplierid":modify_id,"suppliername":modify_name,
                      "telephone":modify_telephone,"starttime":modify_starttime,"endtime":modify_endtime},
                success: function (data) {
                    $("body").html(data);
                }
            });
        }
        //查询供应商(已实现)
        window.search_Supplier= function() {
            var search_name = document.getElementById("search_Supplier_name").value;
            if (!search_name) {
                alert("供应商名为空");
            } else {
                $(".delSure").click(function () {
                    $.ajax({
                        url: "supplier_search?suppliername="+search_name,
                        type: 'POST',
                        success: function (data) {
                            $("body").html(data);
                        }
                    });
                });
            }
        }
    </script>
</head>

<body bgcolor="black">
<div class="banner-w2layouts" style="width:100%; height:105px;" id="home">
    <!--Top-Bar-->
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a  th:href="index">DHU</a></h1>
            </div>

            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hvr-underline-from-center active scroll" href="#">当前用户: <span th:text="${session.User.username}"></span></a></li>
                    <li><a class="hvr-underline-from-center active scroll" href="#">主页</a></li>
                    <li><a th:href="Goods" class="hvr-underline-from-center scroll">資料管理</a></li>
                    <li><a th:href="Purchase" class="hvr-underline-from-center scroll">采购管理</a></li>
                    <li><a th:href="Sales" class="hvr-underline-from-center scroll scroll">销售管理</a></li>
                    <li><a th:href="stock" class="hvr-underline-from-center scroll scroll">库存管理</a></li>
                    <li><a th:href="accounting_management" class="hvr-underline-from-center scroll scroll">账务管理</a></li>
                    <li><a th:href="system_management" class="hvr-underline-from-center scroll scroll">系统管理</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </nav>
    </div>
</div>
<form class="form-inline">
    <div style="display:inline">
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#SearchSupplier"><span class="glyphicon glyphicon-search"></span> 查询</a>
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#AddSupplier"><span class="glyphicon glyphicon-plus"></span> 增加</a>
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#DeleteSupplier"><span class="glyphicon glyphicon-remove"></span> 删除</a>
        <a  class="btn btn-default btn-sm" style="float:right" data-bs-toggle="modal" data-bs-target="#ModifySupplier"><span class="glyphicon glyphicon-pencil"></span> 修改</a>
        <div class="dropdown" style="float: left">
            <button class="btn btn-default" style="float:right"><span class="glyphicon glyphicon-th"></span></button>
            <div class="dropdown-content">
                <a th:href="Goods">商品资料</a>
                <a th:href="supplier">供货商资料</a>
                <a th:href="Customer">客户资料</a>
            </div>
        </div>
</form>
<br><br>
<form th:action="supplier_add" method="post">
    <div class="table-responsive">
        <table border="1" class="table table-hover">
            <caption>供应商</caption>
            <tr><th>供应商编号</th><th>名字</th><th>电话</th><th>起始时间</th><th>结束时间</th>
            <tr th:each="supplier : ${supplierList}">
                <td th:text="${supplier.supplierid}"></td>
                <td th:text="${supplier.suppliername}"></td>
                <td th:text="${supplier.telephone}"></td>
                <td th:text="${supplier.starttime}"></td>
                <td th:text="${supplier.endtime}"></td>
            </tr>
        </table>
    </div>
</form>

<!-- 增加按鈕彈出框（AddModal） -->
<div class="modal" id="AddSupplier" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">增加</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Supplier_name">供应商名：</label>
                    <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="add_Supplier_name" placeholder="请输入供应商名">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Supplier_telephone">供应商电话：</label>
                    <input type="text" style="margin-left: 7px; color:#000000" class="form-control" id="add_Supplier_telephone" placeholder="请在这里输入供应商电话">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Supplier_starttime">开始日期：</label>
                    <input type="date" style="margin-left: 27px; color:#000000" class="form-control" id="add_Supplier_starttime" placeholder="请在这里输入开始日期">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="add_Supplier_endtime">結束日期：</label>
                    <input type="date" style="margin-left: 27px; color:#000000" class="form-control" id="add_Supplier_endtime" placeholder="请在这里输入結束日期">
                </div>
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onclick="return add_Supplier()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除按鈕彈出框（DeleteSupplier） -->
<div class="modal" id="DeleteSupplier" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">删除</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="delete_Supplier_id">供应商编号：</label>
                    <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="delete_Supplier_id" placeholder="请输入供应商编号">
                </div>
                <br>
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onclick="return delete_Supplier()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改按鈕彈出框（ModifySupplier） -->
<div class="modal" id="ModifySupplier" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">修改</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Supplier_id">供应商编号：</label>
                    <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="modify_Supplier_id" placeholder="请输入供应商编号">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Supplier_name">供应商名：</label>
                    <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="modify_Supplier_name" placeholder="请输入供应商名">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Supplier_telephone">供应商电话：</label>
                    <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="modify_Supplier_telephone" placeholder="请输入供应商电话">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Supplier_starttime">开始日期：</label>
                    <input type="date" style="margin-left: 16px; color:#000000" class="form-control" id="modify_Supplier_starttime" placeholder="请输入开始日期">
                </div>
                <br>
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="modify_Supplier_endtime">结束日期：</label>
                    <input type="date" style="margin-left: 16px; color:#000000" class="form-control" id="modify_Supplier_endtime" placeholder="请输入结束日期">
                </div>
                <br>
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onclick="return modify_Supplier()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 查询按鈕彈出框（SearchSupplier） -->
<div class="modal" id="SearchSupplier" style="background:url(images/bann5.jpg)">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态标题 -->
            <div class="modal-header">
                <h4 class="modal-title">查询</h4>
            </div>

            <!-- 模态主体 -->
            <div class="modal-body">
                <div>
                    <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="search_Supplier_name">供应商名：</label>
                    <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="search_Supplier_name" placeholder="请输入供应商名">
                </div>
                <br>
            </div>
            <br>
            <!-- 模态页脚 -->
            <div class="modal-footer">
                <button onclick="return search_Supplier()" type="button" class="delSure btn btn-info" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
