<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资料管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <!--web-fonts-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <script src="js/jquery-2.1.4.js"></script>
    <style>
        /* 容器 <div> - 需要定位下拉内容 */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* 下拉内容 (默认隐藏) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* 下拉菜单的链接 */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* 鼠标移上去后修改下拉菜单链接颜色 */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* 在鼠标移上去后显示下拉菜单 */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* 当下拉内容显示后修改下拉按钮的背景颜色 */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>

<body bgcolor="black">
<div class="banner-w2layouts" style="width:100%; height:105px;" id="home">
    <!--Top-Bar-->
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a  th:href="index">DHU</a></h1>
            </div>

            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hvr-underline-from-center active scroll" href="#">主页</a></li>
                    <li><a href="#" class="hvr-underline-from-center scroll">资料管理</a></li>
                    <li><a href="#" class="hvr-underline-from-center scroll">采购管理</a></li>
                    <li><a href="#" class="hvr-underline-from-center scroll scroll">销售管理</a></li>
                    <li><a href="#" class="hvr-underline-from-center scroll scroll">库存管理</a></li>
                    <li><a href="#" class="hvr-underline-from-center scroll scroll">账务管理</a></li>
                    <li><a href="#" class="hvr-underline-from-center scroll scroll">系统管理</a>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </nav>
    </div>
</div>
<form class="form-inline">
    <div class="form-group" style="display:inline">
        <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="exampleInputEmail2">供應商名:</label>
        <input type="text" style="float:left" class="form-control" id="exampleInputEmail2" name ="supplier_name" placeholder="请在这里输入供應商名">
    </div>
    <div style="display:inline">
        <button onClick="window.location.href = 'https://www.baidu.com/'" class="btn btn-default" style="float:left;margin-top:0.05cm"><span class="glyphicon glyphicon-search"></span> 查询</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#AddModal" style="float:right"><span class="glyphicon glyphicon-plus"></span> 增加</button>
        <!-- 增加按鈕彈出框（AddModal） -->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            增加供應商
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="AddInputName1">供應商名：</label>
                            <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="AddInputName1" name ="add_supplier_name" placeholder="请在这里输入供應商名">
                        </div>
                        <br>
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="AddInputName2">供應商電話：</label>
                            <input type="text" style="margin-left: 7px; color:#000000" class="form-control" id="AddInputName2" name ="add_supplier_tel" placeholder="请在这里输入供應商電話">
                        </div>
                        <br>
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="AddInputName3">開始日期：</label>
                            <input type="text" style="margin-left: 27px; color:#000000" class="form-control" id="AddInputName3" name ="add_supplier_starttime" placeholder="请在这里输入開始日期">
                        </div>
                        <br>
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="AddInputName4">結束日期：</label>
                            <input type="text" style="margin-left: 27px; color:#000000" class="form-control" id="AddInputName4" name ="add_supplier_endtime" placeholder="请在这里输入結束日期">
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            確認增加
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <button data-toggle="modal" data-target="#DeleteModal" class="btn btn-default" style="float:right"><span class="glyphicon glyphicon-remove"></span> 刪除</button>
        <!-- 刪除按鈕彈出框（DeleteModal） -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            刪除供應商
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="AddInputName2">刪除供應商名：</label>
                            <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="DeleteInputName1" name ="delete_supplier_name" placeholder="请在这里输入供應商名">
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            確認刪除
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <button data-toggle="modal" data-target="#ModifyModal" class="btn btn-default" style="float:right"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
        <!-- 修改按鈕彈出框（ModifyModal） -->
        <div class="modal fade" id="ModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            修改供應商信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="ModifyInputName1">供應商名：</label>
                            <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="ModifyInputName1" name ="modify_supplier_name" placeholder="请在这里输入供應商名">
                        </div>
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="ModifyInputName2">供應商電話：</label>
                            <input type="text" style="margin-left: 5px; color:#000000" class="form-control" id="ModifyInputName2" name ="modify_supplier_tel" placeholder="请在这里输入供應商電話">
                        </div>
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="ModifyInputName3">開始日期：</label>
                            <input type="text" style="margin-left: 16px; color:#000000" class="form-control" id="ModifyInputName3" name ="modify_supplier_starttime" placeholder="请在这里输入開始日期">
                        </div>
                        <div>
                            <label style="float: left; margin-top:0.15cm; margin-left:0.1cm" for="ModifyInputName4">結束日期：</label>
                            <input type="text" style="margin-left: 17px; color:#000000" class="form-control" id="ModifyInputName4" name ="modify_supplier_endtime" placeholder="请在这里输入結束日期">
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            確認修改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="dropdown" style="float:right">
            <button class="btn btn-default" style="float:right"><span class="glyphicon glyphicon-th"></span></button>
            <div class="dropdown-content">
                <a href="#">商品资料管理</a>
                <a href="#">客戶资料管理</a>
                <a href="#">供貨商资料管理</a>
                <a href="#">合同維護</a>
            </div>
        </div>
</form>
<br><br>
<form th:action="supplier_add" method="post">
    <div class="table-responsive">
        <table border="1" class="table table-hover">
            <caption>供应商</caption>
            <tr><th>供应商编号</th><th>名字</th><th>电话</th><th>起始时间</th><th>结束时间</th>
            <tr th:each="supplier : ${supplierList}">
                <td th:text="${supplier.supplierid}"></td>
                <td th:text="${supplier.suppliername}"></td>
                <td th:text="${supplier.telephone}"></td>
                <td th:text="${supplier.starttime}"></td>
                <td th:text="${supplier.endtime}"></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="添加数据"/>
</form>

<!-- 按钮触发模态框 -->


</body>
</html>
